body{
    font-family:Arial, sans-serif;
    background-color: #5f1e1e;
    text-align: center;
    padding-top: 100px;
}
.container{
    background-color: rgb(195, 230, 157);
    border-radius: 100px;
    box-shadow:0 4px 8px,rgb(0, 0, 0);
    display: inline-block;
    padding: 40px;
}
a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #5f1e1e;
    font-weight: bold;
}