<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Style.css')}}">


<body>
    <div class="container">
        <h1> Hello, </h1>
        <P>Mob.no.: 7*****4747</P>
        <p>Email id: gaganvallapwar**@gmail.com</p>
        <p>linkdn id: vallapwargagan***</p>
        <a href="/">Back to home</a>
    </div>
</body>
</html>